@import "~src/variables.scss";


nav.navbar {
    .navbar-item > .icon {
        padding-left: $block-spacing / 2;
        padding-right: $block-spacing;            
        width: 2rem;
    }
}

aside {
    background-color: $grey-darker;
    height: 100vh;
    
    .menu-item-label {
        display: none;
    }

    nav {
        height: 100vh;
        display: flex;
        flex-direction: column;
        .middle-items {
            flex-grow: 1;
        }
        a {
            padding-left: 0;
            padding-right: 0;

            color: $white-ter;
            &.active {
                color: $primary;
            }
        }
    
        .icon {
            width: 3em;
        }

        &.is-expanded {
            min-width: 200px;

            .icon {
                padding-left: $block-spacing;
                padding-right: $block-spacing;
                width: 2rem;
            }

            .menu-item-label {
                display: initial;
            }
        }

        .logout, .toggle-size {
            a {
                color: $white;
                background-color: $blue;
                &:hover {
                    color: $blue;
                    background-color: $white;
                }
            }
        }
    }
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    .section {
        padding: 1.5rem;
    }
    .is-title-bar {
        font-size: 2rem;
        .icon {
            margin-right: 0.5rem;
        }
    }
}