.panel {
    .panel-block {
        background-color: white;
    }

    .panel-heading {
        img {
            height: 2rem;
            margin-top: -0.5rem;
            margin-bottom: -0.5rem;
            margin-left: -0.5rem;
            margin-right: 0.5rem;
        }
    }
}