
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field" *ngFor="let field of getFields()">
        <label class="label">{{field.name}}</label>

        <!-- Boolean -->
        <input [id]="field.id" [name]="field.name" class="switch" type="checkbox" [formControlName]="field.id" *ngIf="field.isBoolean">
        <label [for]="field.id" *ngIf="field.isBoolean"></label>

        <!-- Text -->
        <div class="control" [ngClass]="{ 'has-icons-left': field.icon !== null }" *ngIf="field.isString">
            <input class="input" type="text" [formControlName]="field.id" *ngIf="!field.isPassword">
            <input class="input" type="password" [formControlName]="field.id" *ngIf="field.isPassword">
            <span class="icon is-small is-left" *ngIf="field.icon !== null">
                <fa-icon [icon]="field.icon"></fa-icon>
            </span>
        </div>

        <!-- Number -->
        <div class="control" [ngClass]="{ 'has-icons-left': field.icon !== null }" *ngIf="field.isNumber">
            <input class="input" type="number" [formControlName]="field.id">
            <span class="icon is-small is-left" *ngIf="field.icon !== null">
                <fa-icon [icon]="field.icon"></fa-icon>
            </span>
        </div>
        <p class="help is-danger">{{field.errorMessage}}</p>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit" [ngClass]="{ 'is-loading': loading }" [disabled]="!isValid || loading">{{ submitText }}</button>
        </div>
        <div class="control status-text" [ngClass]="'is-' + messageType">
            {{ message }}
        </div>
    </div>
</form>