<div class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="box">
                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Username" formControlName="username">
                                <span class="icon is-small is-left">
                                    <fa-icon icon="user"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="password" placeholder="Password" formControlName="password">
                                <span class="icon is-small is-left">
                                    <fa-icon icon="lock"></fa-icon>
                                </span>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary" type="submit" [ngClass]="{ 'is-loading': loading }" [disabled]="!loginForm.valid || loading">Login</button>
                            </div>
                            <span class="label">error</span>
                        </div>                   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
